<h1>Profil</h1>
<hr><br>

<div class="row">
    <div class="col-lg-6">
        <form action="/profil/proses-update/" method="post">
            <div class="mb-3">
                <label class="form-label text-muted">Username</label>
                <input type="text" class="form-control" name="form_username" value="<%= user[0].username %>" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Nama</label>
                <input type="text" class="form-control" name="form_nama" value="<%= user[0].nama %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Alamat</label>
                <input type="text" class="form-control" name="form_alamat" value="<%= user[0].alamat %>">
            </div>
            <div class="mb-3">
                <label class="form-label">tanggal lahir</label>
                <input type="date" class="form-control" name="form_tgl_lahir" value="<%= user[0].tanggal_lahir %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Password baru</label>
                <input type="password" class="form-control" name="form_pass_baru" value="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br><br>
        <hr>
        <a href="/logout" class="btn btn-danger">Logout</a>
        <br><br><br>
    </div>
</div>