<h4 class="text-capitalize">Edit genre buku</h4>

<div class="row">
    <div class="col-lg-6">
        <form action="/master/genre/proses-update/<%= genre[0].id %>" method="post">
            <div class="mb-3">
                <label class="form-label">Kode</label>
                <input type="text" class="form-control" name="form_kode" value="<%= genre[0].kode %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Nama genre</label>
                <input type="text" class="form-control" name="form_nama" value="<%= genre[0].nama %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>