<h4 class="text-capitalize">detail jenis buku</h4>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= jenis_buku[0].nama %></h5>
                <p class="card-text">
                    Kode: <%= jenis_buku[0].kode %> <br>
                    waktu pembuatan: <%= moment(jenis_buku[0].created_at).format('DD MMMM YYYY HH:mm') %> <br>
                    dibuat oleh: <%= jenis_buku[0].created_nama %>
                </p>
            </div>
        </div>
    </div>
</div>