<h4 class="text-capitalize">input jenis baru</h4>

<div class="row">
    <div class="col-lg-6">
        <form action="/master/jenis-buku/proses-insert" method="post">
            <div class="mb-3">
                <label class="form-label">Kode</label>
                <input type="text" class="form-control" name="form_kode">
            </div>
            <div class="mb-3">
                <label class="form-label">Nama jenis</label>
                <input type="text" class="form-control" name="form_nama">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>