
<div class="row w-100">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="/master/jenis-buku" class="nav-link <%= (uri_segment[2] == 'jenis-buku' ? 'active' : '') %>">
                    Jenis buku
                </a>
            </li>
            <li class="nav-item">
                <a href="/master/genre" class="nav-link <%= (uri_segment[2] == 'genre' ? 'active' : '') %>">
                    Genre
                </a>
            </li>
            <!-- <li class="nav-item">
                <a href="/master/rak" class="nav-link <%= (uri_segment[2] == 'rak' ? 'active' : '') %>">
                    Rak
                </a>
            </li> -->
        </ul>
    </div>
    <div class="col-12">
        <div class="tab-content pt-3 ps-3">
            <% if (typeof subkonten !== 'undefined') { %>
                <%- include(subkonten) %>
            <% } else { %>
                <p>Pilih salah satu. Jenis Buku / Genre.</p>
            <% } %>
        </div>
    </div>
</div>