
<div class="row w-100">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/master/jenis-buku">Jenis buku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/master/genre">Genre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/master/rak">Rak</a>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <div class="tab-content pt-3 ps-3">
            <% if (typeof subkonten !== 'undefined') { %>
                <%- include(subkonten) %>
            <% } %>
        </div>
    </div>
</div>