<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Aji Kowiyu">
        <title>Dashboard | Nodejs Peminjaman</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/fontawesome/css/all.css">
        <link rel="stylesheet" href="/custom/template.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/fontawesome/js/all.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <%- include('header') %>
                <%- include('sidebar') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <!-- konten dinamis -->
                        <%- include('../' + konten) %>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
