
<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 <%= (uri_segment[1] == 'dashboard' ? 'bg-info text-white' : '') %>"
                        href="/dashboard">
                        <i class="fa fa-fw fa-solid fa-home"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 <%= (uri_segment[1] == 'master' ? 'bg-info text-white' : '') %>"
                    href="/master">
                        <i class="fa fa-fw fa-solid fa-layer-group"></i>Master data
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 <%= (uri_segment[1] == 'profil' ? 'bg-info text-white' : '') %>"
                    href="/profil">
                        <i class="fa fa-fw fa-solid fa-user"></i>Profil
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
